<div>
    <ul>
    <li><a routerLink="/milks">Milks</a></li>
    <li><a (click)="logout()">Logout</a></li>
    </ul>
  <router-outlet></router-outlet>
</div>
<h2>My Milks</h2>

<div>
  <label for="milk-type">Milk type: </label>
  <input id="milk-type" #milkType />
  <label for="milk-type">Milk flavor: </label>
  <input id="milk-type" #milkFlavor />
  <label for="milk-type">Milk volume: </label>
  <input id="milk-type" type="number" #milkVolume />
  <label for="milk-type">Number of milks in stock: </label>
  <input id="milk-type" type="number" #milkQuantity />
  <label for="milk-type">Milk price: </label>
  <input id="milk-type" type="number" #milkPrice />
  <label for="milk-type">Select Image </label>
  <input id="milk-image" type="file" #milkImage />



  <!-- (click) passes input value to add() and then clears the input -->
  <button class="buttons" type="button" class="add-button" (click)="add(milkType.value, milkFlavor.value, stringToInt(milkVolume.value), 
    stringToInt(milkQuantity.value), stringToInt(milkPrice.value), [], 0)">

  <label for="milk-type">Choose milk image: </label>
  <input type="file" (change)="fileSelected($event)"/>

  


  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(milkType.value, milkFlavor.value, stringToInt(milkVolume.value), 
    stringToInt(milkQuantity.value), stringToInt(milkPrice.value), [], 0)">
    Add milk
  </button>
<!--</div>-->

<div class="milks-menu">

  <a *ngFor="let milk of milks"
      routerLink="/detail/{{milk.id}}">
      <label for="milk-type" style="text-transform:capitalize">{{milk.type}} {{milk.flavor}} milk</label>
      <br>
      <label for="milk-type">Volume: {{milk.volume}} </label>
      <br>
    <label for="milk-type">Price: ${{milk.price}}</label>
    <br>
    <img class="productImage" [src]="milk.imageUrl"/>
    <!-- remember imageUrl added to everything -->
    <p>
      Quantity: {{ milk.quantity }} &nbsp; <!-- &nbsp is a space -->   
    </p>
  </a>
</div>
