<h2>My Milks</h2>

<div>
  <label for="new-milk">Hero name: </label>
  <input id="new-milk" #milkName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(milkName.value); milkName.value=''">
    Add hero
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let milk of milks">
    <a routerLink="/detail/{{milk.id}}">
      <span class="badge">{{milk.id}}</span> {{milk.name}}
    </a>
    <button type="button" class="delete" title="delete hero"
      (click)="delete(milk)">x</button>
  </li>
</ul>