<div class="back">
  <div>
    <ul>
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <li><a (click)="logout()">Logout</a></li>
      <li><a routerLink="/shopping-cart" class="circle">Cart</a></li>
    </ul>
    <router-outlet></router-outlet>
  </div>
<div *ngIf="shoppingCart">
  <h2> {{shoppingCart.username}}'s Shopping Cart</h2>
  <div class="container">
    <div class="item" *ngFor="let milk of shoppingCart.milksInCart; let i = index">
      <div *ngIf="shoppingCart.milksInCartQuantity[i] > 0">
          <div class="list">
            <a routerLink="/detail-customer/{{milk.id}}">
              <span class="badge"></span> <span style="text-transform:capitalize">{{milk.flavor}} {{milk.type}}</span>
              </a>
        <label for="milk-type">Price Per Unit: ${{milk.price}}</label>
        <img class="productImage" [src]="milk.imageUrl"/>
        <p>
          <button type="button" class="delete" title="Delete One"
            (click)="deleteOne(milk, milk.id, shoppingCart.username)">-</button>
          {{ shoppingCart.milksInCartQuantity[i] }} &nbsp; &nbsp; <!-- The &nbsp; is a space -->
          <button type="button" class="add" title="Add one" [disabled]="milk.quantity == 0"
            (click)="addOne(milk, shoppingCart.username)">+</button>   
        </p>
        </div>
    </div>
  </div>  
</div>
<br>
<br>

<div class="purchase">
<label for="delivery-address">Delivery Address:</label>
<input type="text" id="delivery-address" name="delivery-address" [(ngModel)]="deliveryAddress">
<p id="purchase">Purchase Total: ${{ calculateTotal() }}</p>
<button class="buttons" (click)="purchase()" onclick="document.getElementById('delivery-address').value = ''">Purchase</button>
</div>

</div>