h2{
  color: white;
  text-align: center;
}
p, label{
  color: #fff;
}

.back
{
  height: 1500px;
}
li{
  display: inline;
}
.circle
{    
  background-image: url('Cart.JPG');
  background-size: 70px, 55px;
  color: transparent;
}

label {
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
  }

.productImage{
    height:135px;
    width:180px;
}

a {
  background-color: orange;
  border-radius: 2px;
  padding: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  text-align: center;
  min-width: 70px;
  margin: 21px;
  box-sizing: border-box;

  /* flexbox */
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}
.list
{
  background-color: orange;
  border-radius: 2px;
  padding: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  text-align: center;
  min-width: 300px;
  margin: 0px;
  box-sizing: border-box;

  /* flexbox */
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.container {
  padding: 0;
  margin: auto;
  max-width: 1100px;

  /* flexbox */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
}

.item {
    flex: 15%;
    padding: 10px;
    box-sizing: border-box;
}

nav a {
    padding: 1rem;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #e8e8e8;
    color: #3d3d3d;
    border-radius: 4px;
  }
  
  nav a:hover {
    color: white;
    background-color: #42545C;
  }
  nav a:active {
    background-color: black;
  }

  .buttons {
    background-color: burlywood;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 10px;
  }

  a:hover
  {
    background-color: gray;
  }

  .purchase
  {
    margin-left: auto;
  }