<div *ngIf="milk">
    
    <h2>{{milk.flavor | titlecase}} {{milk.type | titlecase}} Details</h2>

    <div>
      <label for="descriptions">Rating: {{ milk.calcRating }}</label>
      <label for="descriptions">Milk Identification: {{ milk.id }}</label> 
      <label for="descriptions">Milk type: {{ milk.type }}</label>
      <label for="descriptions">Milk flavor: {{ milk.flavor }}</label>
      <label for="descriptions">Unit volume: {{ milk.volume }}</label>
      <label for="descriptions">Units in stock: {{ milk.quantity }}</label>
      <label for="descriptions">Unit price: ${{ milk.price }}</label>
      <img class="productImage" [src]="milk.imageUrl"/>  
      <label>Please rate us:</label>
      <div>
        <button type="button" (click)="rateMilk(1)">1</button>
        <button type="button" (click)="rateMilk(2)">2</button>
        <button type="button" (click)="rateMilk(3)">3</button>
        <button type="button" (click)="rateMilk(4)">4</button>
        <button type="button" (click)="rateMilk(5)">5</button>
      </div>
    </div>
    <button type="button" (click)="goBack()">Go Back</button>
  </div>
