<div *ngIf="milk">
    
    <h2>{{milk.type | titlecase}} {{milk.flavor | titlecase}} Details</h2>

    <div>
      <label for="descriptions">Milk Identification: {{ milk.id }}</label> 
      <label for="descriptions">Milk type: {{ milk.type }}</label>
      <label for="descriptions">Milk flavor: {{ milk.flavor }}</label>
      <label for="descriptions">Unit volume: {{ milk.volume }}</label>
      <label for="descriptions">Units in stock: {{ milk.quantity }}</label>
      <label for="descriptions">Unit price: {{ milk.price }}</label>
      <img class="productImage" [src]="milk.imageUrl"/>  
    </div>
    <button type="button" (click)="goBack()">Go Back</button>
  </div>
