<h2>Our Milks</h2>
<div>
  <ul>
    <li><a routerLink="/dashboard">Dashboard</a></li>
    <li><a (click)="logout()">Logout</a></li>
    <li><a routerLink="/shopping-cart" class="circle">Cart</a></li>
  </ul>
  <router-outlet></router-outlet>
</div>
<app-milk-search></app-milk-search>
<div class="milks-menu">

  <a *ngFor="let milk of milks" routerLink="/detail-customer/{{milk.id}}">
      <label for="milk-type" style="text-transform:capitalize">{{milk.type}} {{milk.flavor}} milk</label>
      <br>
      <label for="milk-type">Volume: {{milk.volume}} </label>
      <br>
    <label for="milk-type">Price: ${{milk.price}}</label>
    <br>
    <img class="productImage" [src]="milk.imageUrl"/>
    <!-- remember imageUrl added to everything -->
    <!-- <img class="productImage" [src]="milk.imageUrl"> -->
    <img class="productImage" [src]="milk.imageUrl">
    <p>
      Quantity: {{ milk.quantity }} &nbsp; <!-- &nbsp is a space -->   
    </p>
    <p *ngIf="shoppingCart">
      <button type="button" class="add" title="Add One" [disabled]="milk.quantity == 0"
      (click)="addOne(milk, shoppingCart.username, $event);false">Add to Cart</button>
    </p>
  </a>
  <h2 *ngIf="!milks.length">Out of Stock. Please return soon.</h2>
</div>

